
* {
  margin: 0;
  padding: 0;
}

body {
	margin: 0;
	padding: 0;
  	text-align: center;
	background: #EEE2DC;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 960px
	padding-left: 10px;
	padding-right: 10px;
}

/* navbar */

.navbar {
  padding: 10px 50px;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}
/* page contents */

h2{
	margin:50px;
}

.resource-title {
	color: #AC3B61;
	font-size: 60px;
}

.description{
	color: #123C69;
	font-size: 30px;
}

.titles {
	font-size: 30px;
	color: #123C69;
}

.resources-links {
	font-size: 20px;
	color: #737373;
}

/* footer */

footer {
  margin-top: 100px;
}

footer ul{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
list-style: none;
padding: 5px 0;
}

footer li i{
color:#555;
margin: 15px;
}

/* hover effect */

.fab:hover {
    opacity: 0.7;
}

.fab {
	color: black;
}